/* .hiring-requests-container {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 10px;
}

.custom-table th,
.custom-table td {
  vertical-align: middle;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f1f3f5;
}

.pagination-controls button {
  min-width: 100px;
} */


.hiring-requests-container {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 10px;
}

.custom-table th,
.custom-table td {
  vertical-align: middle;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f1f3f5;
}

.pagination-controls button {
  min-width: 100px;
}
